matplotlib
numpy
opencv_python
scipy
scikit-learn

# # Optional for Notebooks
# # Core Jupyter Notebook packages
# notebook
# jupyterlab
# ipython
# ipykernel

# # Jupyter Notebook utilities
# nbformat
# nbconvert
# jupyter_client
# ipywidgets

# # Data analysis
# pandas
